* {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	user-select: none;
	background-color: rgb(16, 16, 16);
}

#container {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
}
::-webkit-scrollbar {
	display: none;
  }
  
  ::-webkit-scrollbar-button {
	display: none;
  }
  
  body {
	-ms-overflow-style:none;
  }